body {
	font-family: 'montserrat', 'serf-sans';
  overflow-x: hidden;
}

@media (max-width: 576px) {
	body {
		font-size: 13px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	body {
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	body {
		font-size: 17px;
	}
}

@media (min-width: 992px) and (max-width: 1400px) {
	body {
		font-size: 17px;
	}
}

@media (min-width: 1400px) {
  body {
		font-size: 18px;
	}
}
