.user-section {
	display: flex;
	width: 100%;
	padding: 10px 20px;

	.user-svg {
		width: 30px;
		height: 30px;
        stroke-width: 3px;
        transform: translateY(3px);
    }

	.username {
		font-size: 1.2em;
		font-weight: bold;
	}

	.basic-info {
		margin-left: 20px;

		.name {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 0.2em;
		}

		.email {
			font-size: 0.9em;
		}
	}
}
