@import './../../main';
@import './../../reset';

.discover-page {
	.content-wrapper {
		margin: auto;
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.recipe-preview-top-bottom {
			margin: auto;
			width: 60%;
			max-width: 600px;
		}

		.spinner-border {
			width: 60px;
			height: 60px;
			stroke-width: 10px;
			margin: auto;
			color: #b68282;
		}
	}
}
