@import './../reset';

.votes-counter {
	margin: 0 2px;
}

.vote-container,
.user-container,
.date-container {
	display: flex;
  justify-content: center;
	align-items: baseline;
	flex-grow: 1;
	margin: auto;
}

.icon {
	width: 20px;
	display: inline;
}