.add-recipe-page {
	width: 100%;
	display: flex;
	flex-direction: column;

	.content-wrapper {
		max-width: 1400px;
		margin: auto;
	}

	.recipe-header {
		width: 80%;
		margin: auto;
		text-align: center;

		.name-input {
			margin: 50px 0 20px;
			font-size: 1.8em;
			text-align: center;
		}

		.desc-input {
			width: 300px;
			font-size: 1em;
			font-weight: 500;
			text-align: center;
		}
	}

	.image-upload-box {
		margin-top: 20px;
	}

	.autosized-text-area {
		margin-top: 40px;
		border: 1px solid gray;
		border-radius: 10px;
	}

	.ingredients-list {
		margin-top: 50px;
	}

	.category-select-wrapper {
		margin-top: 50px;
		text-align: center;

		.category-select {
			font-size: 1.1em;
			height: 30px;
		}
	}

	.confirm-button {
		width: 120px;
		height: 40px;
		margin: 50px auto 10px;
	}

	input {
		border: 0;
	}

	input:focus {
		outline: 0;
	}

	.ingredient-list {
		border-collapse: collapse;
		margin: auto;
		margin-top: 40px;

		td,
		th {
			border: 1px solid black;
			padding: 10px;
			text-align: center;
		}

		th:first-child,
		th:last-child,
		td:last-child,
		td:first-child {
			border: none;
			padding: 0;
			width: 50px;
			align-items: center;
		}

		.icon {
			height: 30px;
			opacity: 0.7;
		}

		.icon:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
}
